/* Border Edge CSS Starts */
.border-rad{border-radius:0 !important}
/* Border Edge CSS Starts */
/* Padding CSS Starts */
.pad-bottom-20{padding-bottom: 20px;}
/* Padding CSS Starts */
/* Mergin CSS starts */
.m-top-20{margin-top:20px;}
.m-top-40{margin-top:40px;}
.m-top-60{margin-top:60px;}
.m-top-80{margin-top:80px;}


.m-right-20{margin-right: 20px;}
/* Mergin CSS starts */